openapi: 3.0.3
info:
  contact:
    email: support@ehelply.com
    name: Support
    url: https://superstack.ehelply.com/support
  description: eHelply SDK for SuperStack Services
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://superstack.ehelply.com/support/legal/terms
  title: eHelply SDK - 1.1.85
  version: 1.1.85
servers:
- description: eHelply / SuperStack Production
  url: https://api.prod.ehelply.com
- description: eHelply / SuperStack Testing
  url: https://api.test.ehelply.com
- description: eHelply / SuperStack Development
  url: http://localhost
paths:
  /appointments/appointments/{appointment_uuid}/entities/{entity_uuid}:
    delete:
      operationId: detachEntityFromAppointment
      parameters:
      - explode: false
        in: path
        name: appointment_uuid
        required: true
        schema:
          title: Appointment Uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                title: Response Detachentityfromappointment
                type: boolean
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Detach Entity From Appointment
      x-accepts: application/json
    post:
      operationId: attachEntityToAppointment
      parameters:
      - explode: false
        in: path
        name: appointment_uuid
        required: true
        schema:
          title: Appointment Uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                title: Response Attachentitytoappointment
                type: boolean
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Attach Entity To Appointment
      x-accepts: application/json
  /appointments/appointments/{appointment_uuid}/entities:
    get:
      operationId: searchAppointmentEntities
      parameters:
      - explode: false
        in: path
        name: appointment_uuid
        required: true
        schema:
          title: Appointment Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_on
        required: false
        schema:
          title: Sort On
          type: string
        style: form
      - explode: true
        in: query
        name: sort_desc
        required: false
        schema:
          default: false
          title: Sort Desc
          type: boolean
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          title: Search
          type: string
        style: form
      - explode: true
        in: query
        name: search_on
        required: false
        schema:
          title: Search On
          type: string
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Search Appointment Entities
      x-accepts: application/json
  /appointments/appointments/entities/{entity_uuid}/appointments:
    get:
      operationId: searchEntityAppointments
      parameters:
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: exclude_cancelled
        required: false
        schema:
          default: false
          title: Exclude Cancelled
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Entities Appointments
      x-accepts: application/json
  /appointments/appointments:
    get:
      operationId: searchAppointment
      parameters:
      - explode: true
        in: query
        name: place_uuid
        required: false
        schema:
          title: Place Uuid
          type: string
        style: form
      - explode: true
        in: query
        name: exclude_cancelled
        required: false
        schema:
          default: false
          title: Exclude Cancelled
          type: boolean
        style: form
      - explode: true
        in: query
        name: is_deleted
        required: false
        schema:
          default: false
          title: Is Deleted
          type: boolean
        style: form
      - explode: true
        in: query
        name: start_range
        required: false
        schema:
          title: Start Range
          type: string
        style: form
      - explode: true
        in: query
        name: end_range
        required: false
        schema:
          title: End Range
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_on
        required: false
        schema:
          title: Sort On
          type: string
        style: form
      - explode: true
        in: query
        name: sort_desc
        required: false
        schema:
          default: false
          title: Sort Desc
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Search Appointment
      x-accepts: application/json
    post:
      operationId: createAppointment
      parameters:
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Appointment
      x-content-type: application/json
      x-accepts: application/json
  /appointments/appointments/{appointment_uuid}:
    delete:
      operationId: deleteAppointment
      parameters:
      - explode: false
        in: path
        name: appointment_uuid
        required: true
        schema:
          title: Appointment Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                title: Response Deleteappointment
                type: boolean
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Appointment
      x-accepts: application/json
    get:
      operationId: getAppointment
      parameters:
      - explode: false
        in: path
        name: appointment_uuid
        required: true
        schema:
          title: Appointment Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAppointment_403_response'
          description: Unauthorized - Denied by eHelply
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAppointment_403_response'
          description: Appointment does not exist
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Appointment
      x-accepts: application/json
    put:
      operationId: updateAppointment
      parameters:
      - explode: false
        in: path
        name: appointment_uuid
        required: true
        schema:
          title: Appointment Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAppointment_403_response'
          description: Unauthorized - Denied by eHelply
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAppointment_403_response'
          description: Appointment does not exist
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Appointment
      x-content-type: application/json
      x-accepts: application/json
  /meta/meta/service/{service}/type/{type_str}/entity/{entity_uuid}:
    delete:
      operationId: deleteMeta
      parameters:
      - explode: false
        in: path
        name: service
        required: true
        schema:
          title: Service
          type: string
        style: simple
      - explode: false
        in: path
        name: type_str
        required: true
        schema:
          title: Type Str
          type: string
        style: simple
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Meta
      tags:
      - meta
      x-accepts: application/json
    get:
      operationId: getMeta
      parameters:
      - explode: false
        in: path
        name: service
        required: true
        schema:
          title: Service
          type: string
        style: simple
      - explode: false
        in: path
        name: type_str
        required: true
        schema:
          title: Type Str
          type: string
        style: simple
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: detailed
        required: false
        schema:
          default: false
          title: Detailed
          type: boolean
        style: form
      - explode: true
        in: query
        name: custom
        required: false
        schema:
          default: false
          title: Custom
          type: boolean
        style: form
      - explode: true
        in: query
        name: dates
        required: false
        schema:
          default: false
          title: Dates
          type: boolean
        style: form
      - explode: true
        in: query
        name: history
        required: false
        schema:
          default: 0
          title: History
          type: integer
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Meta
      tags:
      - meta
      x-accepts: application/json
    post:
      operationId: createMeta
      parameters:
      - explode: false
        in: path
        name: service
        required: true
        schema:
          title: Service
          type: string
        style: simple
      - explode: false
        in: path
        name: type_str
        required: true
        schema:
          title: Type Str
          type: string
        style: simple
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Meta
      tags:
      - meta
      x-content-type: application/json
      x-accepts: application/json
    put:
      operationId: updateMeta
      parameters:
      - explode: false
        in: path
        name: service
        required: true
        schema:
          title: Service
          type: string
        style: simple
      - explode: false
        in: path
        name: type_str
        required: true
        schema:
          title: Type Str
          type: string
        style: simple
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Meta
      tags:
      - meta
      x-content-type: application/json
      x-accepts: application/json
  /meta/meta/{meta_uuid}:
    delete:
      operationId: deleteMetaFromUuid
      parameters:
      - explode: false
        in: path
        name: meta_uuid
        required: true
        schema:
          title: Meta Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Meta From Uuid
      tags:
      - meta
      x-accepts: application/json
    get:
      operationId: getMetaFromUuid
      parameters:
      - explode: false
        in: path
        name: meta_uuid
        required: true
        schema:
          title: Meta Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: detailed
        required: false
        schema:
          default: false
          title: Detailed
          type: boolean
        style: form
      - explode: true
        in: query
        name: custom
        required: false
        schema:
          default: false
          title: Custom
          type: boolean
        style: form
      - explode: true
        in: query
        name: dates
        required: false
        schema:
          default: false
          title: Dates
          type: boolean
        style: form
      - explode: true
        in: query
        name: history
        required: false
        schema:
          default: 0
          title: History
          type: integer
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Meta From Uuid
      tags:
      - meta
      x-accepts: application/json
    put:
      operationId: updateMetaFromUuid
      parameters:
      - explode: false
        in: path
        name: meta_uuid
        required: true
        schema:
          title: Meta Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Meta From Uuid
      tags:
      - meta
      x-content-type: application/json
      x-accepts: application/json
  /meta/meta/service/{service}/type/{type_str}/entity/{entity_uuid}/touch:
    post:
      operationId: touchMeta
      parameters:
      - explode: false
        in: path
        name: service
        required: true
        schema:
          title: Service
          type: string
        style: simple
      - explode: false
        in: path
        name: type_str
        required: true
        schema:
          title: Type Str
          type: string
        style: simple
      - explode: false
        in: path
        name: entity_uuid
        required: true
        schema:
          title: Entity Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Touch Meta
      tags:
      - meta
      x-accepts: application/json
  /meta/meta/slug:
    post:
      operationId: makeSlug
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaSlugger'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Make Slug
      tags:
      - meta
      x-content-type: application/json
      x-accepts: application/json
  /meta/field:
    post:
      operationId: createField
      parameters:
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Field'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Field
      tags:
      - meta
      x-content-type: application/json
      x-accepts: application/json
  /meta/field/{field_uuid}:
    delete:
      operationId: deleteField
      parameters:
      - explode: false
        in: path
        name: field_uuid
        required: true
        schema:
          title: Field Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: soft_delete
        required: false
        schema:
          default: true
          title: Soft Delete
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Field
      tags:
      - meta
      x-accepts: application/json
    get:
      operationId: getField
      parameters:
      - explode: false
        in: path
        name: field_uuid
        required: true
        schema:
          title: Field Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Field
      tags:
      - meta
      x-accepts: application/json
    put:
      operationId: updateField
      parameters:
      - explode: false
        in: path
        name: field_uuid
        required: true
        schema:
          title: Field Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Field'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Field
      tags:
      - meta
      x-content-type: application/json
      x-accepts: application/json
  /notes/notes/{note_id}:
    delete:
      operationId: deleteNote
      parameters:
      - explode: false
        in: path
        name: note_id
        required: true
        schema:
          title: The ID of the note to get
          type: string
        style: simple
      - explode: true
        in: query
        name: method
        required: false
        schema:
          default: previous
          title: Method
          type: string
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesHTTPValidationError'
          description: Validation Error
      summary: Delete Note
      tags:
      - notes
      x-accepts: application/json
    get:
      operationId: getNote
      parameters:
      - explode: false
        in: path
        name: note_id
        required: true
        schema:
          title: The ID of the note to get
          type: string
        style: simple
      - explode: true
        in: query
        name: history
        required: false
        schema:
          default: 0
          title: History
          type: integer
        style: form
      - explode: true
        in: query
        name: history_content
        required: false
        schema:
          default: true
          title: History Content
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteDynamoHistory'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesHTTPValidationError'
          description: Validation Error
      summary: Get Note
      tags:
      - notes
      x-accepts: application/json
    put:
      operationId: updateNote
      parameters:
      - explode: false
        in: path
        name: note_id
        required: true
        schema:
          title: The ID of the note to get
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesHTTPValidationError'
          description: Validation Error
      summary: Update Note
      tags:
      - notes
      x-content-type: application/json
      x-accepts: application/json
  /notes/notes:
    post:
      operationId: createNote
      parameters:
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteDynamo'
          description: Successful Response
        "404":
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesHTTPValidationError'
          description: Validation Error
      summary: Create Note
      tags:
      - notes
      x-content-type: application/json
      x-accepts: application/json
  /places/places:
    get:
      description: "Search all places and returns paginated results with Places being\
        \ stored in items field.\nCan search by `project_uuid, name, address, address_line_2,\
        \ city, province_state, country, postal_zip_code, lat, lng\nemail` string\
        \ fields or the `is_public and is_deleted` boolean fields. To search with\
        \ these fields use query params\nwith string values. For sorting fill out\
        \ \"sort_desc\" field with either true/false and the \"sort_on\" query parameter\n\
        with column you want to sort on (ex: name). Max pagination items per page\
        \ is 50.\nItem return format:\n```\n{\n    uuid                          \
        \      **type:** string\n    project_uuid                        **type:**\
        \ string or None\n\n    meta_uuid                           **type:** string\
        \ or None\n\n    catalog_data                        **type:** dict or None\n\
        \n    review_group_data                   **type:** dict or None\n\n    schedule_data\
        \                       **type:** dict or None\n\n    collection_data    \
        \                 **type:** dict or None\n\n    blog_data                \
        \           **type:** dict or None\n\n    tags                           \
        \     **type:** [TagBase] or None\n\n    categories                      \
        \    **type:** [CategoryBase] or None\n\n    company                     \
        \        **type:** CompanyBase or None\n\n    created_at                 \
        \         **type:** string or None\n\n    updated_at                     \
        \     **type:** string or None\n\n    deleted_at                         \
        \ **type:** string or None\n\n}\n```"
      operationId: search_places_places_places_get
      parameters:
      - explode: true
        in: query
        name: project_uuid
        required: false
        schema:
          title: Project Uuid
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          title: Name
          type: string
        style: form
      - explode: true
        in: query
        name: address_line_1
        required: false
        schema:
          title: Address Line 1
          type: string
        style: form
      - explode: true
        in: query
        name: address_line_2
        required: false
        schema:
          title: Address Line 2
          type: string
        style: form
      - explode: true
        in: query
        name: city
        required: false
        schema:
          title: City
          type: string
        style: form
      - explode: true
        in: query
        name: province_state
        required: false
        schema:
          title: Province State
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          title: Country
          type: string
        style: form
      - explode: true
        in: query
        name: postal_zip_code
        required: false
        schema:
          title: Postal Zip Code
          type: string
        style: form
      - explode: true
        in: query
        name: lat
        required: false
        schema:
          title: Lat
          type: string
        style: form
      - explode: true
        in: query
        name: lng
        required: false
        schema:
          title: Lng
          type: string
        style: form
      - explode: true
        in: query
        name: email
        required: false
        schema:
          title: Email
          type: string
        style: form
      - explode: true
        in: query
        name: is_public
        required: false
        schema:
          default: true
          title: Is Public
          type: boolean
        style: form
      - explode: true
        in: query
        name: is_deleted
        required: false
        schema:
          default: false
          title: Is Deleted
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_company
        required: false
        schema:
          default: false
          title: With Company
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_meta
        required: false
        schema:
          default: false
          title: With Meta
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_catalog
        required: false
        schema:
          default: false
          title: With Catalog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_reviews
        required: false
        schema:
          default: false
          title: With Reviews
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_schedule
        required: false
        schema:
          default: false
          title: With Schedule
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_collection
        required: false
        schema:
          default: false
          title: With Collection
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_blog
        required: false
        schema:
          default: false
          title: With Blog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_tags
        required: false
        schema:
          default: false
          title: With Tags
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_categories
        required: false
        schema:
          default: false
          title: With Categories
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_on
        required: false
        schema:
          title: Sort On
          type: string
        style: form
      - explode: true
        in: query
        name: sort_desc
        required: false
        schema:
          default: false
          title: Sort Desc
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Search Places
      tags:
      - places
      x-accepts: application/json
    post:
      description: Creates a Place.
      operationId: create_place_places_places_post
      parameters:
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Place
      tags:
      - places
      x-content-type: application/json
      x-accepts: application/json
  /places/places/{place_uuid}:
    delete:
      description: Deletes the place with the given ID and returns True if successful
      operationId: delete_place_places_places__place_uuid__delete
      parameters:
      - explode: false
        in: path
        name: place_uuid
        required: true
        schema:
          title: Place Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: soft_delete
        required: false
        schema:
          default: true
          title: Soft Delete
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Place
      tags:
      - places
      x-accepts: application/json
    get:
      description: Gets the place information given the Place ID
      operationId: get_place_places_places__place_uuid__get
      parameters:
      - explode: false
        in: path
        name: place_uuid
        required: true
        schema:
          title: Place Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: with_meta
        required: false
        schema:
          default: false
          title: With Meta
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_catalog
        required: false
        schema:
          default: false
          title: With Catalog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_reviews
        required: false
        schema:
          default: false
          title: With Reviews
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_schedule
        required: false
        schema:
          default: false
          title: With Schedule
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_collection
        required: false
        schema:
          default: false
          title: With Collection
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_blog
        required: false
        schema:
          default: false
          title: With Blog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_tags
        required: false
        schema:
          default: false
          title: With Tags
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_categories
        required: false
        schema:
          default: false
          title: With Categories
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_company
        required: false
        schema:
          default: false
          title: With Company
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Place
      tags:
      - places
      x-accepts: application/json
    put:
      description: "Update Place with given info, only updating the fields supplied.\
        \ Place Uuid must be sent however."
      operationId: update_place_places_places__place_uuid__put
      parameters:
      - explode: false
        in: path
        name: place_uuid
        required: true
        schema:
          title: Place Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Place
      tags:
      - places
      x-content-type: application/json
      x-accepts: application/json
  /places/companies:
    get:
      description: "Search all companies and returns paginated results with Companies\
        \ being stored in items field.\nCan search by `project_uuid, name, email`\
        \ string fields or the `is_public and is_deleted` boolean fields.\nTo search\
        \ with these fields use query params with string values. For sorting fill\
        \ out \"sort_desc\" field with either\ntrue/false and the \"sort_on\" query\
        \ parameter\nwith column you want to sort on (ex: name). Max pagination items\
        \ per page is 50.\nItem return format:\n```\n{\n    uuid                 \
        \               **type:** string\n    project_uuid                       \
        \ **type:** string or None\n\n    meta_uuid                           **type:**\
        \ string or None\n\n    catalog_data                        **type:** dict\
        \ or None\n\n    review_group_data                   **type:** dict or None\n\
        \n    schedule_data                       **type:** dict or None\n\n    blog_data\
        \                           **type:** dict or None\n\n    tags           \
        \                     **type:** [TagBase] or None\n\n    categories      \
        \                    **type:** [CategoryBase] or None\n\n    places      \
        \                        **type:** PlaceBase or None\n\n    created_at   \
        \                       **type:** string or None\n\n    updated_at       \
        \                   **type:** string or None\n\n    deleted_at           \
        \               **type:** string or None\n\n}\n```"
      operationId: search_companies_places_companies_get
      parameters:
      - explode: true
        in: query
        name: project_uuid
        required: false
        schema:
          title: Project Uuid
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          title: Name
          type: string
        style: form
      - explode: true
        in: query
        name: email
        required: false
        schema:
          title: Email
          type: string
        style: form
      - explode: true
        in: query
        name: is_public
        required: false
        schema:
          default: true
          title: Is Public
          type: boolean
        style: form
      - explode: true
        in: query
        name: is_deleted
        required: false
        schema:
          default: false
          title: Is Deleted
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_places
        required: false
        schema:
          default: false
          title: With Places
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_meta
        required: false
        schema:
          default: false
          title: With Meta
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_catalog
        required: false
        schema:
          default: false
          title: With Catalog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_reviews
        required: false
        schema:
          default: false
          title: With Reviews
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_schedule
        required: false
        schema:
          default: false
          title: With Schedule
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_blog
        required: false
        schema:
          default: false
          title: With Blog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_tags
        required: false
        schema:
          default: false
          title: With Tags
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_categories
        required: false
        schema:
          default: false
          title: With Categories
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_on
        required: false
        schema:
          title: Sort On
          type: string
        style: form
      - explode: true
        in: query
        name: sort_desc
        required: false
        schema:
          default: false
          title: Sort Desc
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Search Companies
      tags:
      - companies
      x-accepts: application/json
    post:
      description: Creates a company
      operationId: create_company_places_companies_post
      parameters:
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Company
      tags:
      - companies
      x-content-type: application/json
      x-accepts: application/json
  /places/companies/{company_uuid}:
    delete:
      description: Deletes the company with the given ID and returns True if successful
      operationId: delete_place_places_companies__company_uuid__delete
      parameters:
      - explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          title: Company Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: soft_delete
        required: false
        schema:
          default: true
          title: Soft Delete
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Place
      tags:
      - companies
      x-accepts: application/json
    get:
      description: Gets the company information given the Place ID
      operationId: get_company_places_companies__company_uuid__get
      parameters:
      - explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          title: Company Uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: with_meta
        required: false
        schema:
          default: false
          title: With Meta
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_catalog
        required: false
        schema:
          default: false
          title: With Catalog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_reviews
        required: false
        schema:
          default: false
          title: With Reviews
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_schedule
        required: false
        schema:
          default: false
          title: With Schedule
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_blog
        required: false
        schema:
          default: false
          title: With Blog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_tags
        required: false
        schema:
          default: false
          title: With Tags
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_categories
        required: false
        schema:
          default: false
          title: With Categories
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_places
        required: false
        schema:
          default: false
          title: With Places
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Company
      tags:
      - companies
      x-accepts: application/json
    put:
      description: "Update company with given info, only updating the fields supplied.\
        \ Company Uuid must be sent however."
      operationId: update_company_places_companies__company_uuid__put
      parameters:
      - explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          title: Company Uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBase'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
          description: Successful Response
        "404":
          description: Route not found - Denied by eHelply
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Company
      tags:
      - companies
      x-content-type: application/json
      x-accepts: application/json
  /places/staff:
    get:
      description: "TODO\nItem return format:\n```\n{\n    uuid                  \
        \              **type:** string\n    project_uuid                        **type:**\
        \ string or None\n\n    entity                              **type:** string\
        \ or None\n\n    place                               **type:** dict or None\n\
        \n    company                             **type:** dict or None\n\n    schedule\
        \                            **type:** dict or None\n\n    catalog       \
        \                      **type:** dict or None\n\n    reviews             \
        \                **type:** dict or None\n\n    created_at                \
        \          **type:** string or None\n\n    updated_at                    \
        \      **type:** string or None\n\n    deleted_at                        \
        \  **type:** string or None\n\n}\n```"
      operationId: search_staff_places_staff_get
      parameters:
      - explode: true
        in: query
        name: project_uuid
        required: false
        schema:
          title: Project Uuid
          type: string
        style: form
      - explode: true
        in: query
        name: first_name
        required: false
        schema:
          title: First Name
          type: string
        style: form
      - explode: true
        in: query
        name: last_name
        required: false
        schema:
          title: Last Name
          type: string
        style: form
      - explode: true
        in: query
        name: is_deleted
        required: false
        schema:
          default: false
          title: Is Deleted
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_companies
        required: false
        schema:
          default: false
          title: With Companies
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_places
        required: false
        schema:
          default: false
          title: With Places
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_schedule
        required: false
        schema:
          default: false
          title: With Schedule
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_catalog
        required: false
        schema:
          default: false
          title: With Catalog
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_reviews
        required: false
        schema:
          default: false
          title: With Reviews
          type: boolean
        style: form
      - explode: true
        in: query
        name: with_roles
        required: false
        schema:
          default: false
          title: With Roles
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_on
        required: false
        schema:
          title: Sort On
          type: string
        style: form
      - explode: true
        in: query
        name: sort_desc
        required: false
        schema:
          default: false
          title: Sort Desc
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-access-token
        required: false
        schema:
          title: X-Access-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: x-secret-token
        required: false
        schema:
          title: X-Secret-Token
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-active-participant
        required: false
        schema:
          title: Ehelply-Active-Participant
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-project
        required: false
        schema:
          title: Ehelply-Project
          type: string
        style: simple
      - explode: false
        in: header
        name: ehelply-data
        required: false
        schema:
          title: Ehelply-Data
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
[...]
